@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

:root {
    --clr-blue: hsl(223, 87%, 63%);
    --clr-pblue: hsl(223, 100%, 88%);
    --clr-lred: hsl(354, 100%, 66%);
    --clr-grey: hsl(0, 0%, 59%);
    --clr-vdblue: hsl(209, 33%, 12%);

    --fs-20px: 20px;

    --fw-3: 300;
    --fw-6: 600;
    --fw-7: 700;

    --ff-libre: 'Libre Franklin', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

/* elements */

a {
    text-decoration: none;
    color: var(--clr-blue);
}

body {
    display: flex;
    min-height: 100vh;
    position: relative;
    font-family: var(--ff-libre);
    text-align: center;
    justify-content: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 150%;
}

h1 span {
    font-weight: var(--fw-3);
    color: var(--clr-grey);
}

main {
    display: flex;
    flex-direction: column;
    margin: 23% 7% 15% 7%;
    max-width: 632px;
}

/* IDs */

#illustrationDashboard {
    width: 100%;
}

#inputEmail {
    padding-left: 10%;
    width: 90%;
    border-radius: 2em;
    height: 3em;
    border: 0.1em solid;
    border-color: var(--clr-pblue);
    margin: 0;
    opacity: 0.7;
}
#inputEmail::placeholder {
    color: var(--clr-pblue);
    opacity: 0.7;
}

#inputEmail:focus {
    outline: none;
}

/* Classes */

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.btnNotify {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    letter-spacing: 0.07em;
    color: white;
    border: none;
    width: 100%;
    border-radius: 2em;
    height: 3.5em;
    background-color: var(--clr-blue);
    filter: drop-shadow(0 10px 5px var(--clr-pblue));
    margin-top: 4%;
    
}

.companyLogoDiv {
    text-align: center;
}

.companyLogo {
    width: 100%;
}

.content {
    margin-left: 4%;
    margin-right: 4%;
}

.copyright {
    font-size: 0.65em;
    color: var(--clr-grey);
}

.iconDivs {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--clr-blue);
    background-color: transparent;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    margin-left: 2%;
    margin-right: 2%;
    border: 1px solid var(--clr-pblue);
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-blue);
    margin-top: 35%;
    margin-bottom: 10%;
}

.imgDiv {
    margin-top: 7%;
}

.inputAndButton {
    display: flex;
    flex-direction: column;
    margin-bottom: 14%;
}

.inputAndWarning {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.subscribeTxt {
    text-align: center;
    font-size: 0.8em;
    margin-top: 5%;
    margin-bottom: 12%;
}

.warningText {
    display: none;
    color: var(--clr-lred);
    font-size: 0.65em;
    margin-top: 2%;
    margin-bottom: 5%;
}

@media screen and (min-width: 800px) {
    h1 {
        text-align: center;
        font-size: 3em;
    }

    main {
        margin: 6% 7% 3% 7%;
    }

    #inputEmail {
        border-radius: 2em;
        height: 4em;
        border: 0.1em solid;
        border-color: var(--clr-pblue);
        width: 100%;
    }

    #inputEmail::placeholder {
        font-size: medium;
    }

    .btnNotify {
        color: white;
        border: none;
        border-radius: 2em;
        height: 3.5em;
        background-color: var(--clr-blue);
        filter: drop-shadow(0 1px 2px var(--clr-blue));
        margin-top: 0;
        width: 31%;
        font-size: medium;
        margin-right: 0;
        margin-left: 6%;
    }

    .btnNotify:hover {
        opacity: 0.8;
    }

    .companyLogo {
        height: 70px;
    }

    .content {
        margin: 0;
    }

    .copyright {
        font-size: 13px;
        color: var(--clr-grey);
    }

    .iconDivs {
        margin-left: 1%;
        margin-right: 1%;
    }

    .icons {
        margin-top: 14%;
        margin-bottom: 4%;
    }

    .imgDiv {
        margin-top: 1%;
    }
    
    .inputAndButton {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 12%;
    }

    .inputAndWarning {
        width: 60%;
    }

    .subscribeTxt {
        text-align: center;
        font-size: 1.3em;
        margin-top: 3%;
        margin-bottom: 7%;
    }

    .warningText {
        text-align: start;
        color: var(--clr-lred);
        font-size: 0.75em;
        margin-top: 2%;
        margin-left: 10%;
        margin-bottom: auto;
    }
}